/* custom css styles */

.bg-color {
    background-color: #264653;
    min-height: 660px;
}

.custom-text-color {
    color: #E0E0E0;
}

.btn-custom-style {
    background: #E76F51;
    color: white;
    font-weight: 600;
    padding: 10px 42px;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

.btn-custom-style:hover {
    background-color: #fa542a;
}

.collection-color {
    color: #E76F51;
}

.bikes {
    margin-top: 65px;
    margin-bottom: 135px;
}

.g-5,
.gx-5 {
    --bs-gutter-x: 0;
}

.feature-bike-gray img {
    filter: grayscale(100%);
}

.custom-orange-color {
    color: #E76F51;
}

.frequently-ask {
    margin-top: 125px;
}

.faq-custom {
    margin-top: 65px;
}

.custom-toggle-btn {
    border: 1px solid rgb(184, 182, 182);
}

.order-now {
    margin-top: 115px;
    margin-bottom: 100px;
}

.copyright-footer {
    margin-top: 115px;
}